* { box-sizing: border-box }

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background: #fff;
}

main {
    display: block;
    // margin: 0 auto;
    // width: 100%;
    // max-width: 42em;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
    margin-top: 1.75em;
}

h3 {
    font-size: 1.25em;
    margin: 1.5em 0 0.75em;
}

h4 {
    font-size: 1em;
    margin: 0.25em 0 0.2em;
}

ul {
    margin: 0.5em 0 1em;
}

li {
    margin-bottom: 0.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 1em 0;
}


p {
    line-height: 1.25em;
}

a {
    text-decoration: none;

    &:visited {
        color: #00008F;
    }

    &:hover {
        text-decoration: underline;
    }
}
